name: Deploy MkDocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          #pip install mkdocs mkdocs-material
          pip install mkdocs mkdocs_puml mkdocs-kroki-plugin fontawesome-markdown mkdocs-material mkdocs-mermaid2-plugin mkdocs-swagger-ui mkdocs-print-site-plugin mkdocs-simple-auth
      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


